.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item {
    max-width: 450px;
  
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-titel-color);
  
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}










