.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.card {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    background-color: var(--primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__desc {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-titel-color);
  }

  &__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
}







