:root {
    --primary-titel-color: #212121;
    --primary-text-color: #757575;
    --logo-color: #000000;
    --primary-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --primary-background-color: #2f303a;
    --accent-color: #2196f3;
    --button-active-color: #188ce8;
    --header-border-color: #ececec;
    --card-border-color: #eeeeee;
    --icon-color: #afb1b8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --background-speciality-img: rgba(47, 48, 58, 0.8);
    --background-card-portfolio: rgba(33, 150, 243, 0.9);
    --background-backdrop: rgba(0, 0, 0, 0.2);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --color-placeholder: rgba(117, 117, 117, 0.5);
}

